Package: com.castyte.osssettings
Name: OSS Settings
Depends: mobilesubstrate
Version: 0--prerelease-3
Architecture: iphoneos-arm
Description: A collection of useful settings for jailbroken iOS
Maintainer: Castyte
Author: Castyte
Section: Utilities
