<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>IDLE TIMER (AUTO LOCK)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.castyte.osssettings</string>
			<key>key</key>
			<string>SWnoidleCharging</string>
			<key>label</key>
			<string>Disable while charging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.castyte.osssettings</string>
			<key>key</key>
			<string>SWnoidleMedia</string>
			<key>label</key>
			<string>Disable while playing media</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OTHER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.castyte.osssettings</string>
			<key>key</key>
			<string>SBTodayLSDisabled</string>
			<key>label</key>
			<string>Disable today view</string>
		</dict>
	</array>
	<key>title</key>
	<string>OSSSettingsPrefs</string>
</dict>
</plist>
